doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //block content
    h1= 'You have found a book \"' + value.name + '\"'
    <br>
    h2='Book Author: ' + value.author
        